In [16]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [17]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [18]:
df=pd.read_csv('/content/gdrive/MyDrive/Dataset/carprices.csv')
df.head()

  Car Model  Mileage  Sell Price  Age
0    BMW X5    69000       18000    6
1    BMW X5    35000       34000    3
2    BMW X5    57000       26100    5
3    BMW X5    22500       40000    2
4    BMW X5    46000       31500    4

In [19]:
df.shape
df.isnull().sum()

Car Model     0
Mileage       0
Sell Price    0
Age           0
dtype: int64

In [20]:
#One Hot Encoding
dummy_variables = pd.get_dummies(df['Car Model'],drop_first=True)
dummy_variables.head()

   BMW X5  Mercedez Benz   Toyota
0       1               0       0
1       1               0       0
2       1               0       0
3       1               0       0
4       1               0       0

In [21]:
new_df=df.drop('Car Model',axis=1)
new_df.head()

   Mileage  Sell Price  Age
0    69000       18000    6
1    35000       34000    3
2    57000       26100    5
3    22500       40000    2
4    46000       31500    4

In [39]:
df=pd.concat([new_df,dummy_variables],axis=1)
df.head()

   Mileage  Sell Price  Age  BMW X5  Mercedez Benz   Toyota
0    69000       18000    6       1               0       0
1    35000       34000    3       1               0       0
2    57000       26100    5       1               0       0
3    22500       40000    2       1               0       0
4    46000       31500    4       1               0       0

In [27]:
from sklearn.linear_model import LinearRegression

In [28]:
reg = LinearRegression()

In [41]:
reg.fit(df[['Mileage','Age','BMW X5','Toyota']],df['Sell Price'])

LinearRegression()

In [42]:
reg.predict([[4500,8,1,0]])

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([58592.24742919])

In [43]:
reg.coef_

array([-6.01616926e-01,  9.41326668e+02, -6.31655299e+03,  8.97766906e+03])

In [44]:
reg.intercept_

60085.46323957131

In [45]:
-6.01616926e-01*4500+9.41326668e+02*8+-6.31655299e+03*1+0*8.97766906e+03+60085.46323957131

58592.24742657131